@import url('https://fonts.googleapis.com/css2?family=Acme&family=Bangers&display=swap');

body {
    background-image: url("img/shop_background.jpg");
    color: white;
    font-family: 'Acme', sans-serif;
}

h1 {
    text-align: center;
    background-color: rgb(233, 192, 121);
}

.middle {
    background-color: rgba(130, 100, 76, 0.721);
    padding-bottom: 40px;
}

.middle, h1 {
    margin: 0 auto;
    width: 1200px;
}

.switch {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

#inventory {
    display: none;
}

.player_info {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}

.player_info > p {
    margin-right: 10px;
}

.categories {
    display: flex;
    justify-content: space-evenly;
    cursor: pointer;
}

.categories > h2:hover {
    color: rgb(62, 143, 94);
}

.filters {
  margin: 0;
}

.connexion{
  display: flex;
  justify-content : center;
  align-content: center;
}

.connexion > div{
  font-family: 'Acme', sans-serif;
  font-size: 20px;
  color : #D35400;
  display : flex;
  justify-content : center;
  flex-direction: column;
  align-content: center;
  width: 350px;
  height: 200px;
  flex-direction: column;
  background-color: #EDBB99;
  padding : 0px 0px 0px 30px;
  border: 1px solid #D35400;
  border-radius: 10%;
  box-shadow: 2px 2px 10px #D35400;
}

.connexion > div > h2{
  font-family: 'Acme', sans-serif;
  text-align: center;
  color: white;
  width : 250px;
  font-size : 30px;
  background-color : none;
}

a {
  text-decoration : none;
  color : #7B241C;
}

a:hover{
  color: white;
}

#session{
  display: none;
}

img {
  width: 75px;
  grid-area: img;
}

#content-invent {
  padding-top: 40px;
}

#content-shop, #content-invent {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  width: 90%;
  margin: 0 auto;
}

#content-shop > div, #content-invent > div {
  display: grid;
  grid-template-columns: 75px 1fr;
  gap: 10px 30px;
  background-color: rgb(233, 192, 121);
  padding: 10px 30px;
}

#content-shop > div {
  grid-template-areas:
  " img nom"
  " img prix"
  " acheter carac";
}

#content-invent > div {
  grid-template-areas:
  " img nom"
  " img qte"
  " jeter carac";
}

.nom {
  grid-area: nom;
  font-weight: bold;
  font-size: 20px;
}
.carac {
  grid-area: carac;
  display: flex;
}
.carac > p {
  margin-right: 5px;
}
#content-shop .acheter {
  grid-area: acheter;
  width: 75px;
}
#content-shop .prix {
  grid-area: prix;
}


#content-invent .qte {
  grid-area: qte;
}
#content-invent .jeter {
  grid-area: jeter;
  width: 75px;
}


.type {
  font-size: 16px;
  margin-left: 5px;
}

p {
  margin: 0;
}
.filters {
  padding: 30px 60px 0px 60px;
}
#filter_button {
  position: relative;
  left: 20px;
}

input[type='button'] {
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-family: 'Acme', sans-serif;
}

.switch {
  font-size: 24px;
}
.type {
  font-size: 16px;
  font-weight: normal;
  margin-left: 5px;
}

.player_info > h2 {
  margin-bottom: 0;
}
.money {
  margin-bottom: 15px;
}
.player_info {
  margin-bottom: 40px;
}
